body {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    align-items: center;
    font-size: 2.4vh;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.grid-container {
    display:grid;
    grid-template-areas: 
    'header'
    'options';
    grid-gap: 2vh;
    text-align: center;
}

.header {
    grid-area: header;
    width: 100%;
    background-color: white;
    position: sticky;
    left: 5%;
    top: 0.01%;
    border-bottom: 1px solid rgb(154,154,154);
    border-bottom: 1px solid orange;
}

.options {
    grid-area: options;
    width: 80%;
    margin: auto;
}

.deal{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    vertical-align: middle;
    font-size: 2.2vh;
}

.deal:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
}

.deal:active{
    background-color: #ffe3b7;
}

button{
    font-size: 2.5vh;
    font-family: NotoSans_bold;
    text-align: center;
    color: rgb(255,127,80);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    display:inline-block;
    cursor: pointer;
    background-color: rgb(240,240,240);
}

button:hover{
    background-color: rgb(245,245,245);
}






.recomm{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    vertical-align: middle;
    margin: auto;
    background-color: rgb(249,204,157);
    margin-bottom: 0.5vh;
    padding: 0.2vh 1vh 0vh 1vh;
    font-size: 2.2vh;
}

.recomm:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
}

.recomm:active{
    background-color: #ffe3b7;
}