body {
    align-items: center;
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}


.header {
    background-color: white;
    position: sticky;
    left: 5%;
    top: 0.01%;
    border-bottom: 1px solid orange;
}

.options {
    margin: auto;
    padding-top: 2vh;
    margin:auto;
}

.deal{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    vertical-align: middle;
}

.deal:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
}

.deal:active{
    background-color: #ffe3b7;
}


.recomm{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    vertical-align: middle;
    margin: auto;
    background-color: rgb(249,204,157);
    margin-bottom: 0.5vh;
    padding: 0.2vh 1vh 0vh 1vh;
    /*font-size: 1.8vh;*/
}

.recomm:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
}

.recomm:active{
    background-color: #ffe3b7;
}