body {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    align-items: center;
    font-size: 2.4vh;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.grid-container {
    display:grid;
    grid-template-areas: 
    'header'
    'options';
    grid-gap: 5vh;
    text-align: center;
}

.header {
    grid-area: header;
    width: 100%;
    background-color: white;
    position: sticky;
    left: 5%;
    top: 0.01%;
    padding-bottom: 2vh;
    border-bottom: 1px solid rgb(154,154,154);
    border-bottom: 1px solid orange;
}

.options {
    grid-area: options;
    width: 90%;
    margin: auto;
}

.deal{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    vertical-align: middle;
    /*background-color: rgb(128, 128, 128, 0.1);*/
}

.deal:hover{
    cursor: pointer;
    background-color: rgb(128, 128, 128, 0.3);
}

.deal:active{
    background-color: #ffe3b7;
}

button{
    font-size: 2.5vh;
    font-family: NotoSans_bold;
    text-align: center;
    color: rgb(255,127,80);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    display:inline-block;
    cursor: pointer;
    background-color: rgb(240,240,240);
}

button:hover{
    background-color: rgb(245,245,245);
}




/******** The Modal ********/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 7vh;
    padding-right: 7vh;
    border: 1px solid #888;
    width:fit-content;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.grid-container-modal {
    display:grid;
    grid-template-areas: 
    'modal_header'
    'modal_options';
    text-align: center;
}

/* the close button in the modal */
.close{
    background-color: rgb(240,240,240);
    font-family: NotoSans_bold;
    color: rgb(255,127,80);
    text-align: center;
    font-size: 2.2vh;
    width: fit-content;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.2vh 2vh 0vh 2vh; /* top right bot left */
}
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(245,245,245);
}