body{
    font-size: 2.4vh;
    line-height: 4vh;
    text-align: center;
    margin: auto;
    width: 100%;
}

div{
    border: 1px black solid;
    /*width: fit-content;
    margin: auto;*/
    padding: 1vh 3vh 2vh 3vh;
    font-size: 2.4vh;
    background-color: rgb(240,240,240);
}