<!DOCTYPE html>
 <html>
    <head>
        <title>Experiment</title>
        <link rel="icon" href="{{ url_for('static', filename='media/bgu_circle.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('consent.static', filename='consent.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        
        <!-- for mobile: -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script>
            function checkConfirmation(){
                if (document.getElementById("i_do").checked){ //user checked "I confirm"
                    window.location.href = "/instructions"; //next page
                }
                else
                    alert("Cannot continue without consent"); //user checked "I do not confirm" or didn't check at all
            }
        </script>
    </head>

    <body>
        <h1>Informed Consent to Participate in an Experiment</h1><hr><br>
            <ol>
                <li>You are about to participate in a digital experiment as part of a decision-making study.</li>
                <li>During the experiment, you will be presented with several web-pages and you will be asked to answer several questions, some of which are mandatory and others are not.</li>
                <li>You can withdraw your participation at any time or refuse to answer any question; However, participants who will fail to complete the required tasks and reach the completion page will not receive payment for their participation.</li>
                <li>Upon completion of the experiment, you will reach a completion page in which you will receive a verification code. This code will verify that you completed the experiment in Amazon Mechanical Turk so that you will receive credit for this task.</li>
                <li>Confidentiality as to the identity of each participant is guaranteed. It is impossible to connect between the personal details of the participant and the answers and data provided during the experiment.</li>
                <li>There is not time limit for completing the experiment, which should take about 10 minutes.</li>
                <li>The experiment has been approved by Ben-Gurion University's ethics committee.</li>
                <li>You can raise any question about the experiment by sending an email to <b>leorre@post.bgu.ac.il</b>.</li>
            </ol>
            <form>
                <div class="confirm_div">
                    <p>Please check one of the following boxes:</p>
                    <input type="radio" id="i_do" name="confirmation" value="yes">
                    <label for="i_do">I hereby confirm that I have understood the above and freely give my consent to participate in this experiment.</label><br>
                    <input type="radio" id="i_dont" name="confirmation" value="no">
                    <label for="i_dont"> I do not confirm.</label><br>
                </div><br>
                <input type="button" id="submit" class="nextPage submitBtn" onclick="checkConfirmation()" value="Next Page">
                <br>
            </form><br>
    </body>
</html>