<!DOCTYPE html>
 <html>
    <head>
        <title>Experiment</title>
        <link rel="icon" href="{{ url_for('static', filename='media/bgu_circle.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('questions_1.static', filename='questions_1.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        <script type="text/javascript" src="{{ url_for('questions_1.static', filename='questions_1.js') }}"></script>

         <!-- for mobile: -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body onload="orderCriteria()">
        <br><h1>Please answer the following questions</h1>

        <form action="/questions_1" method="POST">
            <div class="questions">
                <br><b><label for="age" class="label_question" style="margin-right: 15px;">What is your age?</label></b>
                <input name="age" id="age" type="text" class="age_input" required onblur="checkAge('age')"><br><br>

                <b><label for="device" class="label_question">Which device do you perform the experiment with?</label></b>
                <br><input type="radio" id="computer" name="device" value="computer" required>
                <label for="computer">Computer</label>
                <br><input type="radio" id="laptop" name="device" value="laptop" required>
                <label for="laptop">Laptop</label>
                <br><input type="radio" id="mobile" name="device" value="mobile" required>
                <label for="mobile">Smartphone</label><br><br>

                <b><label for="experience" class="label_question">Do you have any experience with recommender systems?</label></b>
                <br><input type="radio" id="no_exp" name="experience" value="false" required>
                <label for="no_exp">No</label>
                <br><input type="radio" id="yes_exp" name="experience" value="true" required>
                <label for="yes_exp">Yes</label><br><br>

                <b><label for="native" class="label_question">Are you a native English speaker?</label></b>
                <br><input type="radio" id="no_native" name="native" value="false" required>
                <label for="no_native">No</label>
                <br><input type="radio" id="yes_native" name="native" value="true" required>
                <label for="yes_native">Yes</label><br><br>

                <b><label for="gender" class="label_question">What is your gender?</label></b>
                <br><input type="radio" id="male" name="gender" value="male" required>
                <label for="male">Male</label>
                <br><input type="radio" id="female" name="gender" value="female" required>
                <label for="female">Female</label>
                <br><input type="radio" id="other" name="gender" value="other" required>
                <label for="other">Other</label>
            </div>

        <br><br>
        <button type="submit" id="submit" class="nextPage submitBtn">Submit</button>
        </form>
    </body>
</html>