<!DOCTYPE html>
 <html>
    <head>
        <title>Experiment</title>
        <link rel="icon" href="{{ url_for('static', filename='media/bgu_circle.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('choosing.static', filename='choosing.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        <script type="text/javascript" src="{{ url_for('choosing.static', filename='choosing.js') }}"></script>

        <!-- for transferring data from JS to Flask -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <!-- for mobile: -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body class="grid-container" onload="scrollUp()">
        <script type=text/javascript>
              function connectJStoFlask(choseRec,id,num_of_clicks) {
                  $.getJSON($SCRIPT_ROOT + '/insertUserChoices', {
                    choseRec: choseRec,
                    id: id,
                    num_of_clicks: num_of_clicks
                }, function(data) {
                      $("#result").text(data.result);
                });
                return false;
              };
        </script>
        <div class="header">
            <h1>Please choose one vacation-deal:</h1>
            <p style="color: darkorange">Recommended for you:</p>
            {% for vacation in recomm_list %}
                <div style="width: max-content; margin: auto; background-color: rgb(249,204,157); margin-bottom: 1vh"
                     id='-1' class="deal recomm" onclick="userChoice(id)">
                    <p>{{ vacation[2] }} in {{ vacation[1] }}, in a {{ vacation[3] }}</p>
                </div>
            {% endfor %}

        </div>
        <div class="options">
            <!-- need to add: choosing the correct set for the user -->
            {% for vacation in vacation_list %}
                <div id='{{ vacation[0] }}' class="deal" onclick="userChoice(id)">
                    <p>{{ vacation[2] }} in {{ vacation[1] }}, in a {{ vacation[3] }}</p>
                </div>
            {% endfor %}
        </div>


    </body>
</html>