<!doctype html>
<html>
  <head>
    <title>Experiment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='media/bgu_circle.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('ranking_1.static', filename='ranking_1.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
{#    it is important for the jQuery to load before JS. therefore i added "defer" im the JS tag#}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- for transferring data from JS to Flask -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- for mobile: -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  
  <body onload="orderCriteria()">
      <script>
            var firstElement;
            var secondElement;
            var thirdElement;

            function orderCriteria() {
                //randomize three numbers (1,2,3) to the <li> elements (to the criteria)
                var firstNum = Math.floor(Math.random() * 3) + 1;
                var secondNum;
                var thirdNum;
                do {
                    secondNum = Math.floor(Math.random() * 3) + 1;
                } while (secondNum == firstNum);
                do {
                    thirdNum = Math.floor(Math.random() * 3) + 1;
                } while (thirdNum == firstNum || thirdNum == secondNum);
                // the elements are randomized
                // get the criteria according to the numbers
                firstElement = randNumToCriterion(firstNum);
                secondElement = randNumToCriterion(secondNum);
                thirdElement = randNumToCriterion(thirdNum);
                //change the elements (<li>) content according to the random
                document.getElementsByTagName("LI")[0].innerHTML = firstElement;
                document.getElementsByTagName("LI")[1].innerHTML = secondElement;
                document.getElementsByTagName("LI")[2].innerHTML = thirdElement;
            }

            //return the correct criterion to the given number (1=continent, 2=vacation type, 3=sleeping arrangement)
            function randNumToCriterion(num) {
                if (num == 1)
                    return "Continent";
                if (num == 2)
                    return "Vacation Type";
                return "Sleeping Arrangement";
            }

            //the function extracts the user criteria according to his preferences
            function chosenRank() {
                //Continent=1,Vacation Type=2,Sleeping Arrangement=3
                var x = document.getElementsByTagName("LI");
                first = x[0].innerHTML;
                second = x[1].innerHTML;
                third = x[2].innerHTML;
                //alert("first: "+first+", second: "+second+", third: "+third); //the user preferences
                var changed = false;
                if (first != firstElement || second != secondElement || third != thirdElement)
                    changed = true; //the user did change the original order
                connectJStoFlask(first, second, third, changed);
                nextPage(); //moves to the next page
            }

            function nextPage() {
                var a = document.getElementById('next');
                a.href = "/algo_data";
            }
      </script>
      {#    it is important for the jQuery to load before JS. therefore i added "defer" im the JS tag below#}
      <script type="text/javascript" src="{{ url_for('ranking_1.static', filename='ranking_1.js') }}" defer></script>

    <br><br><p>Please <b>re-order (drag and drop)</b> the criteria according to <b>your</b> ideal-vacation preferences,<br>
    from the most important criterion (1) to the least (3):</p><br>

    <div class="criteria_div grid-container-div">
      <script type=text/javascript>
          function connectJStoFlask(first,second,third, changed) {
              $.getJSON($SCRIPT_ROOT + '/insertRanks1', {
                rank1: first,
                rank2: second,
                rank3: third,
                changed: changed
            }, function(data) {
                $("#result").text(data.result);
            });
            return false;
        };
      </script>
      <div class="listNum">
        <p>1.</p>
        <p>2.</p>
        <p>3.</p>
      </div>
      <div class="container listVal">
          <ul id="list" class="grouped">
            <li id="a" value="3"></li>
            <li id="b" value="2"></li>
            <li id="c" value="1"></li>
          </ul>
      </div>
    </div>
    <br>
{#      <p style="font-size: 2.2vh">(If the drag and drop <b>does not work</b> - please <b>refresh</b> the page)</p>#}
    <br>
    <a href=# id="next"><button type="submit" id="submit" class="nextPage submitBtn" onclick="chosenRank()">Next Page</button></a>
  </body>
</html>
